.root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid white;
}

.logo {
  display: flex;
  align-items: center;
}

.footer {
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid white;
}

.footer p {
  text-align: center;
}
/* 
.footer a {
  color: #0070f3;
} */

.main {
  max-width: 95vw;
  padding: 2rem 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h2 {
  margin: 0;
}

.main table {
  border-collapse: collapse;
  text-align: left;
}

.main th,
.main td {
  padding: 0.1rem 1rem;
}

.form {
  width: 100%;
  display: flex;
}

.form input {
  flex: 1;
  padding: 0.2rem 0.5rem;
  background-color: lightgray;
  border: 1px solid white;
  border-radius: 0.5rem 0 0 0.5rem;
  color: gray;
}

.form button {
  padding: 0.2rem 0.5rem;
  background-color: lightgray;
  border: 1px solid white;
  border-radius: 0 0.5rem 0.5rem 0;
  color: gray;
  cursor: pointer;
}
.form button:hover,
.form button:active {
  background-color: gray;
  color: white;
}
