.root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.flame {
  background: transparent;
  border: none;
  cursor: crosshair;
}

.wallets {
  position: absolute;
  /* bottom: -183px; */
  left: 0;

  display: flex;
  flex-direction: column;
}

.wallets button {
  min-width: 200px;
  height: 55px;
  margin: 3px;

  display: flex;
  align-items: center;
}

.download {
  padding: 0.5rem 1rem;
  background: rgb(143, 157, 247);
  color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.download:hover {
  background: purple;
}

.discord {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.discord:hover {
  transform: scale(1.3);
}

.footer {
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid white;
}

.footer p {
  text-align: center;
}
/* 
.footer a {
  color: #0070f3;
} */

.main {
  max-width: 95vw;
  padding: 2rem 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h2 {
  margin: 0;
}

.main table {
  border-collapse: collapse;
  text-align: left;
}

.main th,
.main td {
  padding: 0.1rem 1rem;
}

.form {
  width: 100%;
  display: flex;
}

.form input {
  flex: 1;
  padding: 0.2rem 0.5rem;
  background-color: lightgray;
  border: 1px solid white;
  border-radius: 0.5rem 0 0 0.5rem;
  color: gray;
}

.form button {
  padding: 0.2rem 0.5rem;
  background-color: lightgray;
  border: 1px solid white;
  border-radius: 0 0.5rem 0.5rem 0;
  color: gray;
  cursor: pointer;
}
.form button:hover,
.form button:active {
  background-color: gray;
  color: white;
}
